.header {
  padding: 16px 0;
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-family: Inter;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #000;
    }
    ul {
      display: flex;
      gap: 48px;
      li {
        .link {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          color: #000;
          transition: all 0.3s linear;
          border-bottom: 1px solid #fff;
          &:hover {
            border-bottom: 1px solid #000;
          }
        }
      }
    }
    .component {
      display: flex;
      gap: 30px;
      align-items: center;
      form {
        position: relative;
        input {
          padding: 10px 50px 10px 20px;
          width: 243px;
          height: 38px;
          border: none;
          border-radius: 4px;
          background: #f5f5f5;
        }
        button {
          position: absolute;
          right: 12px;
          cursor: pointer;
          background: transparent;
          top: 5px;
          .search {
            font-size: 24px;
          }
        }
      }
      .heart {
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
}
