.hero {
  padding: 40px 0;
  .hero__content {
    width: 100% !important;
    height: 344px;
    background: #000;
    position: relative;

    .bg {
      position: absolute;
      left: calc(50% - 246px);
      z-index: 1;
      top: 10px;
    }
    .text {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 20px;
      bottom: 47px;
      left: 64px;
      color: #fff;
      max-width: 300px;

      span {
        display: flex;
        gap: 20px;
        align-items: center;
        h4 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
        }
        .apple__icon {
          font-size: 50px;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          color: #fff;
          text-decoration: underline;
        }
      }
      h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 0.04em;
        text-align: left;
      }
    }
  }
}
