@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Regular.ttf);
}
body {
  font-family: Poppins, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
input {
  outline: none;
}
@import "./scss/index.scss";
